body{
	background-color:#004e74;
	background-repeat: repeat;
	background-attachment:fixed;
	font: 12px Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}
.wrapper{
	width: 1100px;
	margin: auto;
}
.title{
	display: block;
	margin: 40px auto;
}
.title > h1, .title > h2,
.title > h4, .title > h5{
	color: #ffffff;
	line-height: 0.6em;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
}
.logo {
	height: 10px;
}
footer{
	text-align: center;
	font-family: lato;
	color: #e84118;
	border-top: 17px solid #f3f3f3;
	padding: 0;
	background: #f3f3f3;
	padding-bottom: 1px;

}

